<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
      Logs estructurados en JSON (logstash-logback-encoder) para que
      ELK / Grafana Loki indexen y correlacionen por traceId/spanId
      (inyectados en el MDC por Micrometer Tracing + Brave).
    -->
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="ms-reserva"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${appName}"}</customFields>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
        </encoder>
    </appender>

    <!-- En local puede resultar comodo un patron legible: perfil "dev" -->
    <springProfile name="dev">
        <appender name="PLAIN_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="PLAIN_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!dev">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
